<div class="position-title-create">
  <h1 class="title">Gestión de Fabricantes</h1>
  <button
    class="button-create"
    mat-icon-button
    *ngIf="validateRole()"
    color="primary"
    (click)="onCreate($event)"
  >
    <mat-icon>note_add</mat-icon>
  </button>
</div>

<table
  mat-table
  [dataSource]="dataSource"
  class="mat-elevation-z8 table-scroll"
>
  <ng-container matColumnDef="factoryId">
    <th mat-header-cell *matHeaderCellDef>Id</th>
    <td mat-cell *matCellDef="let element">{{ element.factoryId }}</td>
  </ng-container>

  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef>Name</th>
    <td mat-cell *matCellDef="let element">{{ element.name }}</td>
  </ng-container>

  <ng-container matColumnDef="action">
    <th mat-header-cell *matHeaderCellDef>Action</th>
    <td mat-cell *matCellDef="let data" class="">
      <div class="example-button-row">
        <button mat-icon-button *ngIf="validateRole()" (click)="onUpdate($event, data)">
          <mat-icon id="color">autorenew</mat-icon>
        </button>
        <button mat-icon-button *ngIf="validateRole()" color="warn" (click)="onDelete($event, data)">
          <mat-icon>delete</mat-icon>
        </button>
      </div>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
